* {
    background-color: antiquewhite;
    box-sizing: border-box;
    font-family: monospace;
}

header {
    display: flex;
    border: solid red 0.5px;
    justify-content: space-between;
}

.leftHead {
    padding-left: 1vw;
    width: 10vw;
    border: none;
    background-color: antiquewhite;
    background-color: none;
}

.rightHead {
    padding-right: 1vw;
}



#question-container {
    display: flex;
    border: solid red .5px;
    flex-direction: column;
    padding-left: 30vw;


}

.outcome {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: bold;
    letter-spacing: 2px;
}

.hide {
    display: none;
}


#start-container {
    display: flex;
    border: solid red .5px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 7vw;
}

#finish-container {
    display: flex;
    border: solid red .5px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 7vw;
}

#highScore-container {
    display: flex;
    border: solid red .5px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 7vw;
}

.in-line {
    flex-direction: row;
}


button {
    width: 35%;
    margin: 2vh;
    cursor: pointer;
    border: solid black .5px;
    border-radius: 6px;
    background-color: rgb(202, 183, 220);
}

button:hover {
    background-color: rgb(183, 144, 218);
}

.outcome {
    padding-left: 31vw;
}



/*use display none to turn off sections??