* {
    background-color: antiquewhite;
    box-sizing: border-box;
    font-family: monospace;
}

header {
    display: flex;
    border-bottom: solid black 2px;
    justify-content: space-between;
}

.leftHead {
    padding-left: 1vw;
    width: 10vw;
    border: none;
    background-color: antiquewhite;
    background-color: none;
}

.rightHead {
    padding-right: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}



#question-container {
    display: flex;
    /* border: solid red .5px; */
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* padding-left: 30vw; */


}

.outcome {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: bold;
    letter-spacing: 2px;
}

.hide {
    display: none;
}


#start-container {
    display: flex;
    /* border: solid red .5px; */
    width: 100%;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 7vw;
}

#finish-container {
    display: flex;
    /* border: solid red .5px; */
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 7vw;
}

#score {
    font-size: 200%;
}

#highScore-container {
    display: flex;
    /* border: solid red .5px; */
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 7vw;
    font-size: 150%;
}

ol {
    margin-bottom: 2px;

}

li {
    margin-bottom: 2px;
}

.in-line {
    flex-direction: row;
}


button {
    width: 35%;
    margin: 2vh;
    cursor: pointer;
    border: solid black .5px;
    border-radius: 6px;
    box-shadow: 2px 3px 2px;
    background-color: rgb(202, 183, 220);
}

#highScoreBtn {
    box-shadow: none;
}

button:hover {
    background-color: rgb(183, 144, 218);
    box-shadow: 1px 2px 1px;
}

button:active {
    box-shadow: .5px .5px .5px;
}

.outcome {
    flex-direction: column;
    text-align: center;
    align-items: center;
}


